html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.home-section {
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0;
  color: #fff;
  font-family: 'Press Start 2P', monospace;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  gap: 2rem;
}

.wave {
  display: inline-block;
  margin-left: -1rem;
  animation: wave-animation 2s infinite;
  transform-origin: 70% 70%; 
}

.text-part {
    flex: 1;
    margin-left: -8rem;
    margin-top: -8rem;
}

@keyframes wave-animation {
  0%   {  transform: rotate(0deg);    }
  10%  {  transform: rotate(30deg);   }
  20%  {  transform: rotate(-30deg);  }
  30%  {  transform: rotate(30deg);   }
  40%  {  transform: rotate(-30deg);  }
  50%  {  transform: rotate(20deg);   }
  60%  {  transform: rotate(-20deg);  }
  70%  {  transform: rotate(10deg);   }
  80%  {  transform: rotate(-10deg);  }
  90%  {  transform: rotate(5deg);    }
  100% {  transform: rotate(0deg);    }
}

.intro {
  font-size: 4rem;
  margin: 0 0 0.2rem 0;
}

.name-line {
  display: flex;
  align-items: baseline; 
  gap: 3rem;   
  margin-bottom: 3rem;
}

.sub-intro {
  font-size: 2rem;
}

.image-part {
  flex: 1;
  margin-top: -8rem;
  margin-right: -7rem;
  display: flex;
  justify-content: flex-end;
}

.myname {
  font-size: 3rem;
  color: #00d4ff;
}


.my-icon {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.my-icon:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .home-content {
        flex-direction: column;
    }
    
    .image-part {
        justify-content: center;
    }
    
    .my-icon {
        width: 200px;
        margin-top: 2rem;
    }

}


.role {
  display: inline-block;
  font-size: 3rem;
  color: #00d4ff;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #00d4ff;
  text-decoration: underline;
  width: 0;
  animation: typing 2s steps(9, end) 1 forwards, blink 0.9s infinite step-end;
}

@keyframes typing {
  from { width: 0; }
  to   { width: 9ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}
