.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem 0rem 1.5rem;
  background-color: #000000;
}

.navbar-logo .logo {
  height: 100px;
  width: auto;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #007bff;
}
